<% provide(:title, 'Club members') %>
<h1><%= link_to @club.name, club_path(@club) %> | Members</h1>

<%= will_paginate @club_members%>

<table class="club_members">
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th colspan="2">Balance</th>
  </tr>
  <%= render @club_members %>
</table>

<%= will_paginate @club_members %>