<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>About</h1>
  <%= image_tag("sports-figures.jpg", :alt => "Sports figure") %>
  <p class="lead text-left">
    This web app is developed by Jeffrey XIE during his spare time. At this moment, it's possible for people to create
    clubs, join a
    club as a member, organize an activity so that club members can participate, and charge members for their
    participation from their
    balances, and club admin can recharge a member's balance.
  </p>
  <p class="lead text-left">
    In fact, I am motivated to develop this app to make my own life easier in the first place. Since I like
    playing
    badminton, I established a badminton club in my neighborhood, and we usually play together during Saturday nights,
    previously I am
    using online Google Sheets to manage club members, activities, charging and recharging, this quickly becomes tedious
    and cumbersome, and
    it's not scalable. Then I realized that "Hey, I am a software engineer, why not develop an app to make my life
    easier by automating these
    tasks as much as possible, perhaps it will also make other people's lives easier! " :-)
  </p>
</div>