<% provide(:title, "History") %>
<h1>History</h1>
<ul>
  <li>2018-04-21: Show the upcoming activities in user's profile page</li>
  <li>2018-04-19: The basic functions are now in good shape:
    <ul>
      <li>Register as a user</li>
      <li>A user creates a club and becomes club admin</li>
      <li>A user joins a club as a member</li>
      <li>Club admin creates activities</li>
      <li>Club members participate an activity and get charged</li>
      <li>Club admin recharges a member's balance</li>
    </ul>
  </li>
</ul>