<%# provide(:title, "Home") %>
<div class="center jumbotron">
  <h1 class="h1">Welcome to PlayTogether&trade;</h1>

  <h2 class="h2">Where people come to play and make friends!</h2>
  <h3 class="h3 text-left">Please sign up now to discover the clubs near you and the activities they are offering, or even create your own club!</h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <br/>
  <br/>
  <%= image_tag("we-play-together.jpg", :alt => "We play together") %>
</div>