<%# provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to PlayTogether&trade;</h1>

  <h2>Where people come to play and make friends</h2>
  <h2>Please sign up now to discover the clubs near you and the activities they are offering, or create your own club!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>