<footer class="footer">
  <small>
    ©2017-2018 Jeffrey XIE
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "History", history_path %></li>
    </ul>
  </nav>
</footer>